*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

.projectDiv {
    width: min(1400px, 95%);
    background-color: transparent;
    display: grid;
    grid-template-columns: 3fr 1fr 1.2fr;
    grid-template-rows: 0.1fr 4fr 3fr 3fr 4fr ;
    grid-gap: 10px;
    grid-template-areas: 
    "nav nav nav"
    "main main qr"
    "main main dates"
     "info idea idea"
     "journey journey journey";
}
 main, .qr, .dates, .info, .journey, .idea {
    background-color: rgb(241, 241, 241, 0.1);
    border-radius: 20px;
    margin: 5px;
    z-index: 1;
    box-shadow: rgb(241, 241, 241, 0.1) 0px 1px 4px;
    border: 1px solid rgb(241, 241, 241, 0.1);
}
.projectName {
  grid-area: nav;
}
main {
  grid-area: main;
}

.qr {
  grid-area: qr;
}

.dates { 
  grid-area: dates;
 
}

.info {
 grid-area: info;

}
.idea {
    grid-area: idea;
}

.journey {
  grid-area: journey;
}

.tooltip {
    position: relative;
  }
  
 .tooltiptext {
    font-family: 'Montserrat', sans-serif;
    visibility: hidden;
    width: 120px;
    background-color: #272727;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #272727 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .fader, .curveIn, .popin {
    opacity: 0;
    transform: translateY(2rem);
    
  }
  .fader.appear, .curveIn.appear, .popin.appear {
    opacity: 1;
    transform: translateY(0px);
  }
  .fader {
    transition: all 0.3s ease-in 0s;
  }
  .curveIn {
    transition: all 0.2s ease-in 0s;
  }
 
  .popin {
    transition: all 0.4s ease-in 0s;
  }
 
  @media (max-width: 1400px) {
    .projectDiv {
      grid-template-columns: 3fr 1fr 1.2fr;
    grid-template-rows: 0.1fr 0.3fr 0.3fr 1fr 1fr ;
    grid-gap: 10px;
    grid-template-areas: 
    "nav nav nav"
    "main main qr"
    "main main dates"
     "info idea idea"
     "journey journey journey";
  }
  }
  @media (max-width: 1200px) {
   
    .projectDiv {
      grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 0.1fr 0.2fr 0.2fr 0.5fr 0.5fr ;
    grid-gap: 10px;
    grid-template-areas: 
    "nav nav "
    "main main"
    "qr  dates"
     "info idea "
     "journey journey ";
  }
  }
  @media (max-width: 700px) {
   
    .qr div:first-child {
      display: none;
    }
   
    .projectDiv {
      grid-template-columns:  1fr;
    grid-template-rows: 0.1fr 0.5fr 0.6fr 0.1fr 0.5fr 0.5fr;
    grid-gap: 10px;
    grid-template-areas: 
    "nav"
    "main"
    "dates"
     "qr"
     "info "
     "idea"
     "journey";
  }
  }